{% extends 'base.html.twig' %}
{% block title %} login {% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <form method="post" action="">
        Your name:<br>
        <input name="name"><br><br>
        Your password:<br>
        <input type="password" name="password"><br><br>
        <input type="submit">
    </form>
    {% if message != [] %}
        <div class="alert-danger"><p>{{ message[0] }}</p></div>
    {% endif %}
    Haven't registered yet? <a href="{{ path('app_register') }}">Register</a>
{% endblock %}